.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #3F3E3E;
    padding: 20px;
    border-radius: 10px;
    margin: 0 6px;
}

.headerIcons {
    padding: 0 20px;
    width: 24px;
    height: 24px;
    color: #fff;
}