@import "../../assets/styles/_variables";

.sidebar {
    background-color: #3F3E3E;
    // position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 13rem;
    height: 100vh;
    transition: 0.5s all;
    border-radius: 10px;

    .logoContainer {
        display: flex;
        justify-content: flex-start;

        .logo {
            width: 50px;
            height: 54px;
        }

        h2.title {
            font-size: 25px;
            color: $white;
            padding: 0 0 0 10px;
            margin: 10px auto;
        }
    }

    .burgerContainer {
        content: "";
        background-color: $green;
        position: absolute;
        // right: -17.5px;
        left: 230px;
        top: 70px;
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;

        .burgerTrigger {
            content: "";
            width: 35px;
            height: 35px;
            background-color: red;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
            position: relative;
        }

        .burgerMenu {
            content: "";
            background-color: $green;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            bottom: calc(35px / 2);
            left: 0.45rem;
            transition: 0.5s all;
        }

        .burgerMenu::after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            transform: translateY(-0.4rem) rotate(45deg);
            transition: 0.5s all;
        }

        .burgerMenu::before {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
            transition: 0.5s all;
        }
    }

    .burgerContainer::after {
        content: "";
        position: absolute;
        right: 35px;
        top: (35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: $lightGrey;
        height: 2px;
        transition: 0.5s all;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem 0 0 0;

        img {
            width: auto;
            height: 3rem;
        }

        .profileContents {
            padding: 0 0 0 1rem;

            p.name {
                padding: 0;
                margin: 0;
                font-size: 16.7px;
                color: $darkGrey;
                text-transform: capitalize;
                font-weight: $heavyFont;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 13.9px;
                color: $darkGrey;
                text-transform: lowercase;
            }
        }
    }

    .contentsContainer {
        margin: 20px 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 8px 0;
                padding: 6px 0;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;

                img {
                    padding: 0 1rem 0 0.5rem;
                }

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 0 0.5rem;
                }
            }

            li.active {
                background-color: $veryLightGreen;

                a {
                    color: $green;
                }
            }

            li:hover {
                background-color: $lightGrey;
                transition: 0.25s;
            }
        }
    }
}

.sidebar.active {
    width: 35px;
    transition: 0.5s all;

    .logoContainer.active {
        h2.title {
            opacity: 0;
        }
    }

    .burgerContainer.active {
        transition: 0.5s all;
        position: absolute;
        left: 56px;

        .burgerMenu {
            background-color: $white;
            transition: 0.5s all;
        }

        .burgerMenu::before {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }

        .burgerMenu::after {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }
    }

    .profileContainer {
        .profileContents {
            opacity: 0;
        }
    }

    .contentsContainer {
        a {
            opacity: 0;
        }
    }
}

.subMenu {
    color: $white;
    margin: 0 55px;
}
