.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1054220/pexels-photo-1054220.jpeg");
  background-size:cover; 
  background-repeat: no-repeat;  
  z-index: 0;
}
.container {
  width: 600px;
  height: 445px;
  z-index: 1;
}
.sparcContainer {
  z-index: 1;
  width: 600px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
}
.sparcImg {
  width: 570px;
  height: 164px;
  flex-shrink: 0;
  background: url('https://images.squarespace-cdn.com/content/v1/5fb69cf07a80c250e62f6400/1617126682263-OPOT5FY9R2C4B7WRU1AR/Header+-+12pt%402x.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.btnGroup {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btnLink {
  width: 290px;
  height: 130px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.5);
}
.eblogo {
  width: 200px;
  height: 47.059px;
  flex-shrink: 0;
}
.rbklogo {
  width: 200px;
  height: 43.946px;
  flex-shrink: 0;
}

.btnGroup {
  cursor: pointer;
}