.row {
    background: url("../../assets/images/reebok-bg.png");
    background-repeat: round;
    min-height: 100vh;
  }
  
  .left-content {
    position: relative;
  }
  
  .loginFormStyle {
    padding: 46px;
  }
  
  .img-content {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    color: white;
    font-weight: 600;
    max-width: 400px;
  }
  
  .img {
    width: 100%;
    // height: 100vh;
  }
  
  .loginForm {
    width: 450px;
    padding: 40px 40px;
  }
  
  .formAddress {
    background-color: #D3D3D3;
    /* just in case there no content*/
    margin: 0 auto;
    // margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 35px #aaaaaa;
    /* shadows and rounded borders */
    // border-radius: 2px;
    // -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    // -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: end;
  }
  
  .formName {
    margin: 25px 0;
    text-align: center;
  }
  
  .formTitle {
    font-weight: bold;
    text-align: center;
  }
  
  .formSpan {
    font-weight: 500;
  }
  
  .signinForm #inputEmail,
  .signinForm #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #3333;
    border: none;
    // border-color: rgb(104, 145, 162);
  }
  
  .signinForm input[type="email"],
  .signinForm input[type="password"],
  .signinForm input[type="text"],
  .signinForm button {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 4px;
    padding: 0 15px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px #3333;
  }
  
  .formControl:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
  }
  
  .formLabel {
    font-weight: bold;
  }
  
  .btnSubmit {
    /*background-color: #4d90fe; */
    background-color: #1a63ff;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 14px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    cursor: pointer;
  }
  
  .btnSubmit:hover,
  .btnSubmit:active,
  .btnSubmit:focus {
    background-color: rgb(12, 97, 33);
  }
  